* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

ul {
    border: 1px solid black;
    padding: 1rem;
    background-color: burlywood;
    font-size: 20px;
}

li {
    list-style: none;
}

a {
    color: green;
    font-weight: 700;
}

section {
    padding: 1rem;
    color: white;
    background-color: black;
}

main {
    padding: 1rem;
    color: white;
    background-color: black;
    
}

button {
    padding: 1rem;
    background-color: yellow;
    border-radius: 20px;
    border: none;
    transition: all ease 1s;
    cursor: pointer;
}

button:hover {
    transform: scale(1.2)
}

footer {
    border: 1px solid black;
    padding: 1rem;
    text-align: center;
    background-color: burlywood;
    font-size: 20px;
    font-weight: 700;
}

.responder {
    color: white;
}